{% extends "base.html" %}

{% block content %}
<div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        Uma Simples Plataforma de Ensino a Distância
                    </h1>
                    <h2 class="splash-subhead">
                        O Simple MOOC visa simplificar o ensino a distância, provendo ferramentas objetivas e de fácil uso para cursos a distância.
                    </h2>
                    <p>
                        <a href="#" class="pure-button primary-button">Saiba mais</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Vídeo-aulas e materiais digitais</h4>
                    <h3>Publique suas aulas</h3>
                    <p>
                        O Simple MOOC tem um sistema simples e prático para que o professor disponibilize vídeo-aulas e materiais digitais como: pdf's, slides, imagens ...
                    </p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="https://scontent.fbel5-1.fna.fbcdn.net/v/t39.30808-6/260696315_4537846089639481_835372953343620705_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeG05mKZvSc76GbpfAiIT-_K-UFN6s8lJ0j5QU3qzyUnSP2aTbRCSvyQUjbhHEZruWX2J5jtOzN-se7LSRWCsO4U&_nc_ohc=Az90QUYLnn8AX_7RJ8u&_nc_oc=AQkRfyWP6hkmp7KXcpss-TSMWNlNxAWTWC6X0SfbHKqCtkUBa3rueZz0zqn0xc02fTY&_nc_ht=scontent.fbel5-1.fna&oh=00_AT9npR0KvPu1ijFl7Y5HP4Ma7zOggzbVGBY7D7tyXfvExg&oe=622539A4"
                         alt="Vídeo aulas e materiais digitais.">
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="https://scontent.fbel5-1.fna.fbcdn.net/v/t39.30808-6/260696315_4537846089639481_835372953343620705_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeG05mKZvSc76GbpfAiIT-_K-UFN6s8lJ0j5QU3qzyUnSP2aTbRCSvyQUjbhHEZruWX2J5jtOzN-se7LSRWCsO4U&_nc_ohc=Az90QUYLnn8AX_7RJ8u&_nc_oc=AQkRfyWP6hkmp7KXcpss-TSMWNlNxAWTWC6X0SfbHKqCtkUBa3rueZz0zqn0xc02fTY&_nc_ht=scontent.fbel5-1.fna&oh=00_AT9npR0KvPu1ijFl7Y5HP4Ma7zOggzbVGBY7D7tyXfvExg&oe=622539A4"
                         alt="Fórum de Dúvidas">
                </div>
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Fórum de Dúvidas</h4>
                    <h3>Interaja com seus Alunos</h3>
                    <p>
                        No Simple MOOC você pode ter seu próprio sistema de fórum para que seus alunos possam interagir com você e com os outros alunos
                    </p>
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Exercícios</h4>
                    <h3>Crie exercícios para avaliar seus alunos</h3>
                    <p>
                        Você pode criar exercícios para que os alunos possam ser avaliados e todo o controle de notas e resolução dos exercícios é controlado pela plataforma, facilitando sua vida
                    </p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="https://scontent.fbel5-1.fna.fbcdn.net/v/t39.30808-6/260696315_4537846089639481_835372953343620705_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeG05mKZvSc76GbpfAiIT-_K-UFN6s8lJ0j5QU3qzyUnSP2aTbRCSvyQUjbhHEZruWX2J5jtOzN-se7LSRWCsO4U&_nc_ohc=Az90QUYLnn8AX_7RJ8u&_nc_oc=AQkRfyWP6hkmp7KXcpss-TSMWNlNxAWTWC6X0SfbHKqCtkUBa3rueZz0zqn0xc02fTY&_nc_ht=scontent.fbel5-1.fna&oh=00_AT9npR0KvPu1ijFl7Y5HP4Ma7zOggzbVGBY7D7tyXfvExg&oe=622539A4"
                         alt="Exercícios">
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="https://scontent.fbel5-1.fna.fbcdn.net/v/t39.30808-6/260696315_4537846089639481_835372953343620705_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeG05mKZvSc76GbpfAiIT-_K-UFN6s8lJ0j5QU3qzyUnSP2aTbRCSvyQUjbhHEZruWX2J5jtOzN-se7LSRWCsO4U&_nc_ohc=Az90QUYLnn8AX_7RJ8u&_nc_oc=AQkRfyWP6hkmp7KXcpss-TSMWNlNxAWTWC6X0SfbHKqCtkUBa3rueZz0zqn0xc02fTY&_nc_ht=scontent.fbel5-1.fna&oh=00_AT9npR0KvPu1ijFl7Y5HP4Ma7zOggzbVGBY7D7tyXfvExg&oe=622539A4"
                         alt="Mural de Avisos">
                </div>
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Mural de Avisos</h4>
                    <h3>Envie anúncios diretamente para os alunos</h3>
                    <p>
                        Organize os avisos do seu curso de forma fácil e simples.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}