{% extends "accounts/dashboard.html" %}

{% block breadcrumb %}
    {{ block.super }} <!-- Serve para alterar o conteúdo igual o que já existe no block -->
    <li>/</li>
    <li><a href="{% url 'edit' %}">Editar Conta</a></li>
{% endblock %}

{% block dashboard_content %}
<form class="pure-form pure-form-stacked" method="post">
    {% csrf_token %}
    {% if success %}
    <p>Os dados foram alterados com sucesso</p>
    {% endif %}
    <fieldset>
        {{ form.non_field_errors }} <!-- Erros que não estão associados a nenhum campo do form enquanto preenchemos -->
        {% for field in form %}
        <div class="pure-control-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }} <!-- Se o campo tiver erro ele mostra, se não, não mostra -->
        </div>
        {% endfor %}
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Salvar Modificações</button>
        </div>
    </fieldset>
</form>
{% endblock %}